html, body {
    min-height: 100%;
}

body {
    background-color: #ACC0C1;
}

.container {
    position: relative;
    max-width: 400px;
    margin: 0 auto;
}

@media (min-width: 450px) {
    .container {
        box-shadow: 1px 1px 20px #666;
    }
}

.level {
    position: relative;
    min-width: 320px;
    background-size: cover;
    background-position: left top;
    background-repeat: no-repeat;
}

.level_0 {
    background-image: url(../img/level_0_bg.jpg);
    height: 180px;
    position: relative;
}

.level_0:after {
    content: ' ';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url(../img/logo.png) no-repeat center 25px;
    background-size: contain;
    pointer-events: none;
}

.level_1 {
    background-image: url(../img/level_1_bg.png);
    height: 235px;
}

.level_2 {
    background-image: url(../img/level_2_bg.png);
    height: 235px;
}

.level_3 {
    background-image: url(../img/level_3_bg.png);
    height: 235px;
}

.level_4 {
    background-image: url(../img/level_4_bg.png);
    height: 75px;
}

.door {
    position: absolute;
    bottom: 0;
    background: url(../img/door.png) no-repeat top left;
    width: 64px;
    height: 100px;

    cursor: pointer;
}

.door_locked {
    background: url(../img/door_locked.png) no-repeat top left;
}

.door_disabled {
    opacity: .5
}

.door_level_0 {
    right: 2%;
}

.door_level_1 {
    left: 2%;
}

.door_level_2 {
    right: 2%;
}

.box {
    position: absolute;
    left: 10%;
    bottom: 0;

    background: url('../img/box.png') no-repeat top left;
    width: 32px;
    height: 32px;

    cursor: pointer;
}

.popup {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;

    background-color: rgba(0,0,0,.3);
    transition: opacity .3s;

    display: flex;
    align-items: center;
    justify-content: center;
}

.popup_hidden {
    pointer-events: none;
    opacity: 0;
}

.popup__content {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 400px;

    background: #000 url(../img/door_level_0.jpg) no-repeat center;
    background-size: cover;
}

.popup__close {
    position: absolute;
    top: 16px;
    right: 16px;
    font-size: 24px;
    color: #fff;

    cursor: pointer;
}

.popup__content_level_0 {
    /* Можно поставить какую-нибудь свою картинку двери на бек */
}

.popup__content_level_1 {
    /* Можно поставить какую-нибудь свою картинку двери на бек */
    background: #000 url(../img/level_1/ground_01.png) repeat;
}

.popup__content_level_2 {
    /* Можно поставить какую-нибудь свою картинку двери на бек */
    background: #000 url(../img/level_2/slice27_27.png) repeat;
}
.popup__content_level_3 {
    background-image: url(../img/door__box.png);
    background-size: contain;
}

.door-riddle {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
}

.door-riddle__text {
    position: absolute;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    margin: 20px
}

.door-riddle__button {
    width: 64px;
    height: 64px;
    border-radius: 64px;
    background-color: #583319;
    border: 1px solid #F3E9E0;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .4);

    transition: background-color .3s;
}

.door-riddle__button_pressed {
    background-color: #F3E5D9;
}

.door-riddle-blocks {
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    top: 64px;

    height: calc(100% - 64px);
    max-height: 700px;
}

.door-riddle-blocks__block {
    display: block;
    width: 64px;
    height: 64px;
    position: absolute;
}

.door-riddle-blocks__block_top-left {
    top: 0;
    left: 0;
}
.door-riddle-blocks__block_top-right {
    top: 0;
    right: 0;
}
.door-riddle-blocks__block_bottom-left {
    bottom: 0;
    left: 0;
}
.door-riddle-blocks__block_bottom-right {
    bottom: 0;
    right: 0;
}

.door-riddle-blocks__block_0-0 {
    background-image: url(../img/level_1/crate_27.png);
}
.door-riddle-blocks__block_0-1 {
    background-image: url(../img/level_1/crate_28.png);
}
.door-riddle-blocks__block_0-2 {
    background-image: url(../img/level_1/crate_30.png);
}
.door-riddle-blocks__block_0-3 {
    background-image: url(../img/level_1/crate_31.png);
}

.door-riddle-blocks__drag-blocks {
    width: 128px;
    height: 128px;
    position: relative;
}

.door-riddle-blocks__block_drag {
    user-select: none;
    cursor: pointer;
}

.door-riddle-blocks__block_pressed {
    opacity: .7;
    z-index: 1;
}

.door-riddle-blocks__block_1-0 {
    background-image: url(../img/level_1/crate_42.png);
}
.door-riddle-blocks__block_1-1 {
    background-image: url(../img/level_1/crate_43.png);
}
.door-riddle-blocks__block_1-2 {
    background-image: url(../img/level_1/crate_45.png);
}
.door-riddle-blocks__block_1-3 {
    background-image: url(../img/level_1/crate_01.png);
}

.door-riddle-anim {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    position: relative;
    top: 70px;

    height: calc(100% - 70px);
    max-height: 700px;
}

.door-riddle-anim__grid {
    margin-top: 25px;
    display: grid;
    grid-template-columns: repeat(3, 70px);
    grid-template-rows: repeat(3, 70px);
    grid-gap: 25px;
}

.door-riddle-anim__block {
    width: 70px;
    height: 70px;
    background-size: 70px 70px;
    cursor: pointer;
}

.door-riddle-anim__block_0 {
    background-image: url(../img/level_2/chick.png);
}

.door-riddle-anim__block_1 {
    background-image: url(../img/level_2/duck.png);
}

.door-riddle-anim__block_2 {
    background-image: url(../img/level_2/frog.png);
}

.door-riddle-anim__block_3 {
    background-image: url(../img/level_2/gorilla.png);
}

.door-riddle-anim__block_4 {
    background-image: url(../img/level_2/narwhal.png);
}

.door-riddle-anim__block_5 {
    background-image: url(../img/level_2/parrot.png);
}

.door-riddle-anim__block_6 {
    background-image: url(../img/level_2/sloth.png);
}

.door-riddle-anim__block_7 {
    background-image: url(../img/level_2/snake.png);
}

.door-riddle-anim__block_8 {
    background-image: url(../img/level_2/walrus.png);
}

.door-riddle-anim__block_pressed {
    transform: scale(.7);
}

.door-riddle-anim__tip {
    background-color: rgba(0, 0, 0, .5);
}

.door-riddle-anim__tip > span {
    display: block;
    font-size: 16px;
    color: white;
    line-height: 1.1;
}

.door-riddle-final {
    display: flex;
    flex-direction: column;

    justify-content: flex-start;
    align-items: center;

    position: relative;
    top: 70px;

    height: calc(100% - 50px);
    max-height: 700px;
}

.door-riddle-final__block {
    width: 250px;
    height: 150px;
    background-color: rgba(255, 255, 255, .5);
    position: relative;
    border: 1px solid black;
    margin-top: 25px;
}

.door-riddle-final__strip {
    position: absolute;
    height: 1px;
    width: 250px;
    background-color: black;
}

.door-riddle-final__strip_upper {
    left: 0;
    top: 50px;
}

.door-riddle-final__strip_lower {
    left: 0;
    top: 100px;
}

.viewport {
    position: absolute;
    width: 50px;
    height: 150px;
}

.viewport_0 {
    left: 0;
}

.viewport_1 {
    left: 100px;
}

.viewport_2 {
    left: 200px
}


.viewport__slide-block {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: center;
    pointer-events: none;
}

.viewport__numbers {
    cursor: pointer;
    position: absolute;
    top: 50px;
    left: 0;
    width: 50px;
    height: 500px;
}

.viewport__slide-block_0 {
    background-image: url('../img/level_3/text_0.png');
}

.viewport__slide-block_1 {
    background-image: url('../img/level_3/text_1.png');
}

.viewport__slide-block_2 {
    background-image: url('../img/level_3/text_2.png');
}

.viewport__slide-block_3 {
    background-image: url('../img/level_3/text_3.png');
}

.viewport__slide-block_4 {
    background-image: url('../img/level_3/text_4.png');
}

.viewport__slide-block_5 {
    background-image: url('../img/level_3/text_5.png');
}

.viewport__slide-block_6 {
    background-image: url('../img/level_3/text_6.png');
}

.viewport__slide-block_7 {
    background-image: url('../img/level_3/text_7.png');
}

.viewport__slide-block_8 {
    background-image: url('../img/level_3/text_8.png');
}

.viewport__slide-block_9 {
    background-image: url('../img/level_3/text_9.png');
}

.plus-sign {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 50px;
    background-image: url('../img/level_3/text_plus.png');
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: center;
}

.plus-sign_0 {
    left: 50px;
}

.plus-sign_1 {
    left: 150px;
}

.door-riddle-final__task {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 150px;
    height: 100px;
    background-color: rgba(0, 0, 0, .8);
    color: white;
    border: 1px solid white;
    z-index: 1;
}

.door-riddle-final__task > span {
    display: block;
    font-size: 20px;
    font-weight: bold;
    color: white;
    line-height: 1.4;
    user-select: none;
    pointer-events: none;
}
